In [1]:
import pandas as pd

In [93]:
years = input('Введите год (если несколько, указать через пробел): ').split()
df_list = []
for year in years:
    path = 'names/yob' + year +'.txt'
    df = pd.read_csv(path, names = ['Name', 'Gender', 'Count'])
    df['year'] = year
    df_list.append(df)
df_res = pd.concat(df_list)
df_res.groupby(['Name']).sum().sort_values('Count').tail(3)

Введите год (если несколько указать через пробел): 1900 1950 2000

         Count
Name
Robert  101368
John    109601
James   111789

In [98]:
count_dynamics = df_res.groupby(['Gender', 'year']).sum()
count_dynamics

               Count
Gender year
F      1900   299798
       1950  1713065
       2000  1815295
M      1900   150480
       1950  1790437
       2000  1963202